h1,
/*p {
  color: white;
}*/
.luxdiv h1 {
  margin-bottom: 22px;
  color: white;
}
.luxdiv p {
    color: white;
}
.footerwrap {
  background-color: #14274a;
  height: 320px;
  /* margin-left: 240px; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 120px;
  font-size: 10px;
}
.social div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.lastdiv h1 {
  margin-bottom: 50px;
}
.lastdiv input {
  width: 278px;
  height: 50px;
}